/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/


@font-face {
    font-family: "samsung_sharp_bold";
    src: url(font/samsung-sharp-sans/samsungsharpsans-bold.otf) format('otf');
}
@font-face {
    font-family: "samsung_sharp_medium";
    src: url(font/samsung-sharp-sans/samsungsharpsans-medium.otf) format('otf');
}
@font-face {
    font-family: "samsung_sharp_normal";
    src: url(font/samsung-sharp-sans/samsungsharpsans.otf) format('otf');
}
:root{
    --main-color: #FD6E6E;
    --secondary-color: #1C284C;
    --title-text-color: #333333;
    --soft-text-color: #818893;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all 0.3s ease 0s;
    font-size: 10px;
    margin: 0;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1728px) {
html{
        font-size: 9px;
    }
}
@media only screen and (max-width: 1536px) {
    html{
        font-size: 8px;
    }
}
@media only screen and (max-width: 1344px) {
    html{
        font-size: 7px;
    }
}
@media only screen and (max-width: 1152px) {
    html{
        font-size: 6px;
    }
}
@media only screen and (max-width: 1050px) {
    html{
        font-size: 10px;
    }
}
@media only screen and (min-width: 2112px) {
    html{
        font-size: 11px;
    }
}
@media only screen and (min-width: 2304px) {
    html{
        font-size: 12px;
    }
}
@media only screen and (min-width: 2496px) {
    html{
        font-size: 13px;
    }
}
@media only screen and (min-width: 2688px) {
    html{
        font-size: 14px;
    }
}
@media only screen and (min-width: 2880px) {
    html{
        font-size: 15px;
    }
}
@media only screen and (min-width: 3072px) {
    html{
        font-size: 16px;
    }
}
@media only screen and (min-width: 3264px) {
    html{
        font-size: 17px;
    }
}
@media only screen and (min-width: 3456px) {
    html{
        font-size: 18px;
    }
}
@media only screen and (min-width: 3648px) {
    html{
        font-size: 19px;
    }
}
@media only screen and (min-width: 3840px) {
    html{
        font-size: 20px;
    }
}

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: normal;
    overflow: hidden;
    margin: 0;
    font-weight: 500;
}

a {
    color: var(--title-color);
    transition: all .3s;
}
a, a:hover, a:focus{
    text-decoration: none;
    outline: none;
    transition: all .3s;
    color: var(--title-color);
    }
ul, ol, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}
h1 {
    font-size: 6rem;
    line-height: 4.4rem;
    font-family: '';
}
h2 {
    font-size: 4rem;
    line-height: 4.4rem;
    color: var(--title-text-color);
    font-family: "samsung_sharp_bold", sans-serif;
}
@media only screen and (max-width: 1050px){
    h2{
        font-size: clamp(2.8rem, 7vw, 4.8rem);
        line-height: clamp(100%, 1vw + 100%, 5.5rem);
    }
}
h3 {
    font-size: 3rem;
    line-height: 4rem;
}
h4 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: 'gilroy_bold';
}
h5 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'gilroy_bold';
    letter-spacing: .32rem;
    color: #2DB9EB;
    text-transform: uppercase;
}
h6 {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-family: 'Charmonman', cursive;
}

.container{
    width: 117rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
a.btn{
    height: 4.328rem;
    border-radius: 5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.title_row{
    display: flex;
}
.title_row h2{
    margin: 0 auto;
}


/* --------------------------   Slick Slider   -------------------------- */


.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: .1rem;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: .1rem solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: .1rem;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: .1rem solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* --------------------------   REVIEWS   -------------------------- */


.reviews_container .slick-track{
    flex-direction: column !important;
    height: max-content !important;
}
.reviews_container{
    width: 128rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.review_full_row{
    background-color: #FFF;
    box-shadow: 0px .854808rem 3.49047rem 1.78085rem rgba(240, 240, 240, 0.25);
    border-radius: 3rem;
    position: relative;
    padding: 6.8rem 11rem 8.5rem;
}
.review-row-bg-shape{
    position: absolute;
    right: -7rem;
    z-index: -1;
    bottom: -7rem;
}
.review_title_row h2{
    margin-bottom: 6rem;
}

.review_content_row{
    display: flex;
    padding-top: 4rem;
}

.recently_added_col,
.latest_review_col{
    width: calc(100% - 54.75rem);
    border-top: .07rem solid #E2E2E2;
    position: relative;
    padding-top: 1.5rem;
}
.recently_added_col::before,
.latest_review_col::before {
    position: absolute;
    top: 0;
    height: 4rem;
    font-size: 1.3rem;
    letter-spacing: .016rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: .35617rem .35617rem 0rem .35617rem;
    padding: 0 2.2rem;
    font-family: 'samsung_sharp_bold', sans-serif;
    font-weight: 700;
    top: -4rem;
    left: -.3rem;
}
.recently_added_col::before{
    content: 'RECENTLY AdDeD';
    background-color: var(--main-color);
    color: #FFF;

}
.latest_review_col::before{
    content: 'LATEST REVIEWS';
    background-color: #F0F1F5;
    color: var(--title-text-color);
}

.recently_added_col{
    margin-right: 6.5rem;
}

.recently_added_col .single_content{
    padding: 2.5rem 0;
    display: flex !important;
    border-bottom: .1rem solid #E2E2E2;
    height: max-content;
}
.recently_added_col .icon-holder{
    width: 6rem;
    height: 6rem;
    border-radius: .3rem;
    border: .08rem solid #D2D7DE;
    margin-right: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
}
.recently_added_col .name_container {
    width: 20rem;
}
.recently_added_col .star_container {
    width: calc(100% - 23rem);
    display: flex;
}

.recently_added_col .meta_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.recently_added_col .meta_content .full_name{
    font-size: 1.78rem;
    font-weight: 600;
}
.recently_added_col .meta_content .location__in_meta{
    display: flex;
    color: var(--main-color);
    font-size: 1.23rem;
    line-height: 1.3rem;
    font-weight: 500;
}
.recently_added_col .meta_content .location_icon{
    margin-right: .5rem;
}
.recently_added_col .meta_content .state_name{
    margin-right: .4rem;
}
.recently_added_col .all_stars{
    margin-right: .9rem;
}
.recently_added_col .content{
    font-size: 1.2rem;
    line-height: 1.78rem;
    color: var(--soft-text-color);
    max-width: 40rem;
}


.reviews .prev-arrow,
.reviews .next-arrow{
    position: absolute;
    width: 2.6rem;
    color: #fff;
    top: -3.5rem;
    font-size: 2rem;
    z-index: 1;
    transition-duration: 300ms;
    cursor: pointer;
}
.reviews span.next-arrow.slick-arrow,
.reviews span.prev-arrow.slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    border: .08rem solid #e2e2e2;
    border-radius: .4rem;

}
.reviews span.next-arrow.slick-arrow:hover,
.reviews span.prev-arrow.slick-arrow:hover{
    border-color: var(--main-color);
}
.reviews span.next-arrow.slick-arrow {
    left: 94%;
}
.reviews span.prev-arrow.slick-arrow {
    left: 86%;
}
.reviews .prev-arrow svg,
.reviews .next-arrow svg{
    fill: transparent;
    stroke: #D2D7DE;
    transition-duration: 300ms;
}
.reviews .prev-arrow:hover svg,
.reviews .next-arrow:hover svg{
    stroke: var(--main-color);
    transition-duration: 300ms;
}



/* -------------------------------------------------- */

.latest_review_col .single_content{
    padding: 2.5rem 0;
    display: flex !important;
    border-bottom: .1rem solid #E2E2E2;
    height: max-content;
}
.latest_review_col .icon-holder{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-right: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
}
.latest_review_col .name_container {
    width: 20rem;
}
.latest_review_col .star_container {
    width: calc(100% - 23rem);
    display: flex;
}

.latest_review_col .meta_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.latest_review_col .meta_content .full_name{
    font-size: 1.78rem;
    font-weight: 600;
}
.latest_review_col .reviewd-company{
    font-size: 1.2rem;
}
.latest_review_col .reviewd-company span{
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
}
.latest_review_col .content{
    font-size: 1.2rem;
    line-height: 1.78rem;
    color: var(--soft-text-color);
    max-width: 40rem;
}
.latest_review_col .all_stars{
    margin-right: .9rem;
}

.reviews .prev-arrow,
.reviews .next-arrow{
    position: absolute;
    width: 2.6rem;
    color: #fff;
    top: -3.5rem;
    font-size: 2rem;
    z-index: 1;
    transition-duration: 300ms;
    cursor: pointer;
}
.reviews span.next-arrow.slick-arrow,
.reviews span.prev-arrow.slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    border: .08rem solid #e2e2e2;
    border-radius: .4rem;

}
.reviews span.next-arrow.slick-arrow:hover,
.reviews span.prev-arrow.slick-arrow:hover{
    border-color: var(--main-color);
}
.reviews span.next-arrow.slick-arrow {
    left: 94%;
}
.reviews span.prev-arrow.slick-arrow {
    left: 86%;
}
.reviews .prev-arrow svg,
.reviews .next-arrow svg{
    fill: transparent;
    stroke: #D2D7DE;
    transition-duration: 300ms;
}
.reviews .prev-arrow:hover svg,
.reviews .next-arrow:hover svg{
    stroke: var(--main-color);
    transition-duration: 300ms;
}

/* --------------------------   TESTIMONIAL   -------------------------- */



.tectimonial_title_row {
    
}
.testimonial_title_row h2{
    margin: 15.5rem auto 7.5rem;
}

.testimonial_full_container {
    margin-bottom: 18.5rem;
}

.testimonial_content-row {
    display: flex;
    position: relative;
}

.testimonial .single_content {
    padding: 3.5rem 4rem 2.5rem;
    max-width: 58rem;
    font-size: 1.25rem;
    line-height: 1.95rem;
    color: #748B91;
    box-shadow: -.715407rem .715407rem 2.14624rem #EFF4FF;
    margin: 1.5rem 0rem 2.5rem 0rem;
}

.testimonial .content {
    margin-bottom: 1.6rem;
    min-height: 15.5rem;
}

.testimonial .star_container {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #D2D2D2;
}

.testimonial .profile_container {
    width: 25rem;
    display: flex;
    align-items: center;
}

.testimonial .profile_icon_holder {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.testimonial .name_holder {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0A2847;
    line-height: 1.56rem;
}

.title-holder {
    font-size: 1.1rem;
    line-height: 1.56rem;
    color: #748B91;
}

.testimonial .prev-arrow,
.testimonial .next-arrow{
    position: absolute;
    width: 2.6rem;
    color: #fff;
    bottom: -10rem;
    font-size: 2rem;
    z-index: 1;
    transition-duration: 300ms;
    cursor: pointer;
}
.testimonial span.next-arrow.slick-arrow {
    left: 54%;
}
.testimonial span.prev-arrow.slick-arrow {
    left: 46%;
}
.testimonial .prev-arrow svg,
.testimonial .next-arrow svg{
    fill: #D2D7DE;
    stroke: #D2D7DE;
    transition-duration: 300ms;
}
.testimonial .prev-arrow:hover svg,
.testimonial .next-arrow:hover svg{
    fill: var(--main-color);
    stroke: var(--main-color);
    transition-duration: 300ms;
}
.testimonial .slick-track{
    gap: 4rem !important;
}


.slick-track {
    display: flex !important;
  }
  
  .slick-slide {
    height: auto;
  }